body{
    font-family: "Times New Roman", serif;
}
.navbar-brand{
    font-family: 'Merriweather', serif;
}
.navbar-brand:hover{
    color: #f4623a !important;
}
.nav-link{
    font-family: 'Merriweather', serif;
}
.navbar-light .nav-link{
    color: #000 !important;
}
.nav-link:hover{
    color: #f4623a !important;
}
#home>div{
    background: linear-gradient(rgba(81,69,60,0.8),rgba(81,69,60,0.8)),url("../assets/img/bg-masthead.jpg");
    background-size: cover;
}
.banners p{
    font-size: 22px;
    color: #e3e3e3;
}
.divide{
    width: 50px;
    background: #f4623a;
    padding: 2px 0;
    opacity: 1;
}
.banners-heading{
    font-family: 'Merriweather', serif;
}
.banners-btn{
    font-family: 'Merriweather', serif;
    background: #f4623a;
}
.banners-btn:hover{
    background-color: #c94d2a;
}

#about>div{
    background-color: #f4623a;
}
.about hr{
    background-color: #fff;
}
.about p{
    color: #e3e3e3;
    font-size: 20px;

    padding: 0 70px;
}
#service h1{
    font-family: 'Merriweather', serif;
}
#service p{
    font-size: 20px;
    color: gray;
}
.service-icons{
    color: #f4623a;
}
#portfolio .row>div{
    cursor: pointer;
    position: relative;
}
.portfolio-card{
    font-family: 'Merriweather', serif;
    color: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    display: none;
    visibility: hidden;
}
#portfolio .row>div:hover .portfolio-card{
    transition: all 0.8s;
    background-color: rgba(244,98,58,0.9);
    display: block;
    visibility: visible;
}
.download-section h1{
    font-family: 'Merriweather', serif;
}
#message{
    height: 150px;
}

#contact form button{
    background-color: #f4623a;
}

footer{
    font-family: 'Merriweather', serif;
    background-color: #e3e3e3;
}

@media (max-width: 992px) {
    .banners h1{
        font-size: 35px;
    }
    .banners p{
        font-size: 18px;
    }
}